[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
psycopg2-binary = "*"
flake8 = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
